$light: rgb(243, 245, 255);
$light-purple: #dce1ff;
$dark-blue: #142896;
$light-blue: #223fe6;
$red: #ff2121;
$light-grey: #e0e0e0;

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: $light;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

h1 {
  font-size: 1.5em;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark-blue;
}

button {
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border-color: transparent;
  background-color: $light-blue;
  color: $light;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: $light-purple;
    color: $light-blue;
  }

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    background-color: $light-grey;
    color: black;
    cursor: not-allowed;
    transform: none;
    transition: none;
  }
}

input,
textarea {
  position: relative;
  font-size: 1rem;

  &.form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    box-sizing: border-box;
  }

  &.form-control:focus {
    outline: none;
    border-color: $light-blue;
    box-shadow: 0 0 0 2px rgba(34, 63, 230, 0.2);
  }

  .placeholder {
    color: #999;
  }

  &.invalid {
    outline: none;
    border-color: $red;
    box-shadow: 0 0 0 2px rgba(230, 34, 34, 0.2);
  }
}

#form {
  margin-bottom: 4vh;

  .form-row {
    display: flex;
    flex-direction: column;
    margin: 2vh 0;

    .form-label {
      margin-bottom: 0.5vh;
    }

      // Desktop styles
      @media (min-width: 768px) {
        .form-control {
          min-width: 20vw;
          max-width: 30vw;
        }
      }
  }
}

.required::after {
  content: "*";
  color: $red;
  font-weight: 200;
}
